<div class="doc">
    <div class="title" *ngIf="doc.pasTit">
        <div class="right">
            <nz-dropdown [nzTrigger]="'click'">
                <a nz-dropdown>
                    操作 <i class="anticon anticon-down"></i>
                </a>
                <ul nz-menu class="animated fadeInUp">
                    <li nz-menu-item>
                        <nz-popconfirm (nzOnConfirm)="delete(doc.pasId)" nzTitle="是否要删除？">
                            <a nz-popconfirm>删除</a>
                        </nz-popconfirm>
                    </li>
                    <li nz-menu-item>
                        <a (click)="update(doc.pasId)">编辑</a>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
        <h5><a  [routerLink]="['./detail',{id: doc.pasId}]"  ><strong>{{doc.pasTit}}</strong></a></h5>
    </div>
    <!--  <div class="tag" *ngIf="doc?.tags.length >0">
        <nz-tag *ngFor="let tag of doc?.tags ; let index = index;" [nzColor]="'blue'">{{tag.wordTagText}}</nz-tag>
    </div> -->
    <div class="body" *ngIf="doc.pasDesc">
        <div class="img" *ngIf="doc.thumb" [class.collapse]="doc.thumb">
            <img [src]="prefix.concat(doc.thumb)" />
        </div>
        <div class="text">
            {{doc.pasDesc}}
        </div>
    </div>
    <div class="user">
        <i class="fa fa-send pl-sm" *ngIf="doc?.pasCreateDate">&nbsp; {{doc?.pasCreateDate| _date:'YYYY年MM月DD日'}}</i>
        <i class="fa fa-eye ml-lg" *ngIf="doc?.lookTol">{{doc?.lookTol}}</i>
    </div>
</div>
